<div *ngFor="let step of steps;  let i = index" class="step" [ngClass] = "{ 'step-active' : step.isActive }" >
  <div>
    <div class="circle">
      <span *ngIf="!step.isActive">{{ i + 1}}</span>
      <i *ngIf="step.isActive" class="fa fa-check"></i>
    </div>
  </div>
  <div>
    <div class="title"> {{ step.title }} </div>
  </div>
</div>