<nb-card>
  <nb-card-header>
    <nb-icon icon="globe-2-outline"></nb-icon> Edit Country 
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <label> Post Title </label> 
        <input nbInput [(ngModel)]="post.title" fullWidth> <br><br>


        <label> Post Body </label> 
        <input nbInput [(ngModel)]="post.body" fullWidth>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="float-right">
      <button nbButton hero status="success" (click)="saveEditing()"> Save editiing for Post</button>
    </div>
  </nb-card-footer>
</nb-card>