.offer-tables {
    border-collapse: collapse;
    border-radius: 2px;
    border-style: hidden;
    box-shadow: 0 0 0 0px grey;
}

th {
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}


td {
    font-size: 13px;
    text-align: center;
    font-weight: 550;
}



.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #049e6b !important;
    color: white !important;
}

.btn-success {
    color: white !important;
    background-color: #00d68f !important;
    border: #00d68f;
    width: 100%;
}

.active {
    background-color: #049e6b !important;
    color: white !important;
}

.filter-label {
    position: absolute;
    margin-top: 9px;
    font-size: 14px;
    right: 9%;
}

.no-data {
    text-align: center;
    position: absolute;
    left: 43%;
    top: 40%;
}

.no-data-label {
    font-size: 74px;
    color: #cccccc;
}

.no-data-text {
    margin-top: 23px;
    color: #cccccc;
    font-size: 20px;
    font-weight: 700;
}

.pointer {
    cursor: pointer;
}

.table-container {
    position: inherit;
    height: 310px !important;
}

.paging {
    margin: auto;
    margin-right: auto !important;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.page-link-color {
    color: #009E4D !important;
}


.active-page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #009E4D;
    border-color: #009E4D;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: gray !important;
}

.row .col {
    border: 1px;
}